<ion-header>
  <ion-toolbar color="light">
    <button slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </button>
    <ion-title style="text-align:center">warehouse stocklist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid mt-3 row">
    <div class="col-lg-8 ">
      <div style="float: right;" class="my-2">
        <button class="btn btn-sm btn-secondary" (click)="add()">Add</button>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>MFD</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
            <td>{{stock.id}}</td>
            <td>{{stock.ITEMS}}</td>
            <td>{{stock.PRICE}}</td>
            <td>{{stock.MFD}}</td>
            <td><button class="btn btn-sm btn-outline-primary" (click)="editData(stock)">Edit</button></td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="removeData(stock)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="border: solid 1px rgb(189, 188, 188);background-color: white;" class="col-lg-3 mx-3 my-2 card p-3" *ngIf="isModalOpen">
      <form standalone style="margin:auto">
         <div>
            <label class="form-label">ID</label>
            <input type="text" class="form-control form-control-sm" disabled>
          </div>
         <div>
            <label class="form-label">Name</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="detail.ITEMS" name="Name" autocomplete="off">
          </div>
         <div>
            <label class="form-label">Price</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="detail.PRICE" name="Price">
          </div>
         <div>
            <label class="form-label">MFD</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="detail.MFD" name="MFD">
          </div>
        <div class="mx-4 my-2">
          <button class="btn btn-sm btn-outline-success mx-2" (click)="saveOrEditData()">Save</button>
          <button class="btn btn-sm btn-outline-warning mx-2" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
