<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align:center">
      <b>COOKIES WORLD</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src="/assets/cookies.jpg"></ion-img>

  <div id="container">
    <strong style="color: white;">Ready to Taste </strong>
    <ion-button size="small" fill="outline" color="success" (click)="spage()">Buy Now</ion-button>
  </div>
</ion-content>
